<module id="my-module">
	<resources>
		<resource path="/assets/images"
				  prefix="images"
				  />
		<resource path="/assets/locales"
				  prefix="locale"
				  />
	</resources>
	<locales path="locale/">
		<locale id="en">
			<resource path="locale/en-GB/tl_en.csv"
					  prefix="main"
					  />			
		</locale>
		<!--locale id="fr">
			<resource path="locale/fr-FR/bt_fr.csv"
					  prefix="main"
					  />
						
		</locale>
		<locale id="de">
			<resource path="locale/de-DE/bt_de.csv"
					  prefix="main"
					  />
			
		</locale>
		<locale id="it">
			<resource path="locale/it-IT/bt_it.csv"
					  prefix="main"
					  />		
		</locale-->
		<!--<locale id="en" resource="locale/en-GB/tm_en.properties" />-->
		<!--<locale id="de" resource="locale/de-DE/tm_de.txt" />-->
		<!--<locale id="fr" resource="locale/fr-FR/tm_fr.txt" />-->
		<!--<locale id="it" resource="locale/it-IT/tm_it.txt" />-->
	</locales>
	<!--components>
		<component class="ui.AgentListing" />
	</components-->
	<themes>
        <default>
            <var name="highlight-color" value="#c2e812" />
            <var name="title-color" value="#4fd1d9" />
            <var name="error-color" value="#f05365" />
            <var name="my-border-size" value="rgb(0, 0, 255)" />
            <var name="my-border-color" value="5px" />
        </default>
    </themes>
</module>
