body{
	background-color:#000;
}
#main, #logger {
	background-color:#000;
    /*border: 1px solid #CCCCCC;*/
    padding: 10px;
}
#logger{
	padding:2rem;
}

#feedback, em{
	color:#f00;
}
#count{
	font-size:1.2rem;
}